.container {
  /* border: 2px solid black; */
  font-family: "Roboto Mono", monospace;
  font-size: 10pt;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin:auto;
  margin-top: 50px;
}

.header {
  /* border: 2px solid black; */
  font-weight: 800;
  font-size: 1.5em;
  margin-top: 20px;
}

#searchForm {
  margin-top: 20px;
}

#searchInput,
#searchButton {
  border: 2px solid black;
  font-family: "Roboto Mono", monospace;
  background-color: white;
}

.container-movie {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 5%;
  box-shadow: 5px 5px 10px rgb(44, 57, 58);
  padding: 20px;
  width: 100%;
}
#title {
  font-weight: 800;
  font-size: 1.1em;
}